<!DOCTYPE html>
<html>
  <head>
    <title>PictureFb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <header id="header">
      <div class="logo">
        <%= image_tag 'flogo_rgb_hex-brc-site-250.png', :size => '54x54' %>
      </div>

      <ul>
        <% if logged_in? %>
          <li><%=link_to "PROFILE", user_path(current_user.id) %></li>
          <li><%= link_to "LOGOUT" , session_path(current_user.id), method: :delete %></li>
        <% else %>
          <li><%= link_to "SIGN UP", new_user_path %></li>
          <li><%= link_to "LOGIN", new_session_path %></li>
        <% end %>
      </ul>
    </header>
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
  　<% end %>
    <%= yield %>
    <footer>
      <p>あらいあゆみ</p>
      <p>2019.4</p>
    </footer>
  </body>

</html>
